<a href="https://colab.research.google.com/github/tmehersairam/Assignments/blob/main/1801227595_ML_Lab1.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

Name: T Meher Sai Ram

Group: 6 sem CSE 

Regd No: 1801227595

ML lab

ASSIGNMENT 1

Q1- To display about yourself (Name, branch, roll no, semester, department, college name) whereyou show different types of comment line including the new line.

In [1]:
print("Name : T Meher Sai Ram")
print("Branch : CSE")
print("Semester : 6")
print("Department : Computer Science And Engineering")
print("College Name : C.V. Raman Global University")

Name : T Meher Sai Ram
Branch : CSE
Semester : 6
Department : Computer Science And Engineering
College Name : C.V. Raman Global University

Q2- Initialize two variables and to show the result of addition, multiplication, subtraction, division,modulus and exponent.

In [ ]:
a, b = 14, 7
print(a+b)
print(a-b)
print(a*b)
print(a/b)
print(a%b)
print(a ** b)

21
7
98
2.0
0
105413504

Q3- To show all the arithmetic operations by taking the input from the keyboard.

In [ ]:
a = int(input("Enter a : "))
b = int(input("Enter b : "))
print(a+b)
print(a-b)
print(a*b)
print(a/b)
print(a%b)
print(a+b)

Enter a : 115
Enter b : 15
130
100
1725
7.666666666666667
10
130

Q4- Convert the value from Celsius to Fahrenheit

In [ ]:
c = 37
f = 9 / 5 * c + 32
print("Celcius :", c, "Fahrenheit :", f)

Celcius : 37 Fahrenheit : 98.60000000000001

Q5- Write a program to prompt the user for hours and rate per hour to compute gross pay.
Enter Hours: 35 Enter Rate: 2.75

In [ ]:
time = float(input("Enter time :"))
rate = float(input("Enter rate :"))
print("Gross Pay :", rate * time)

Enter time :35
Enter rate :2.75
Gross Pay : 96.25

Q6- To see the data type of variables.

In [ ]:
a = 5.86
print(type(a))
a = "Bellatrix"
print(type(a))

<class 'float'>
<class 'str'>

Q7- Find the area and perimeter of triangle, circle and square.

In [ ]:
import math
print("Enter sides of triangle")
a = float(input())
b = float(input())
c = float(input())
print("Perimeter of triangle :", a + b + c)
r = float(input("Enter radius of circle:"))
print("Perimeter of circle :", 2 * math.pi * r)
s = float(input("Enter side of square:"))
print("Perimeter of square:", 4 * s)

Enter sides of triangle
20
12
12
Perimeter of triangle : 44.0
Enter radius of circle:3.64
Perimeter of circle : 22.870794518133696
Enter side of square:5.24
Perimeter of square: 20.96

Q8- Write a program to swap two numbers.

In [ ]:
a = int(input("Enter a : "))
b = int(input("Enter b : "))
a, b = b, a
print("a :", a, "b :", b)

Enter a : 16
Enter b : 23
a : 23 b : 16

Q9- To show the use of all the arithmetic operator

In [ ]:
a = int(input("Enter a : "))
b = int(input("Enter b : "))
print(a+b)
print(a-b)
print(a*b)
print(a/b)
print(a%b)
print(a ** b)

Enter a : 89
Enter b : 15
104
74
1335
5.933333333333334
14
174120577810999285787632895849

Q10- To show the use of all the assignment operators.

In [ ]:
a = 5
b, c, d, e, f, g = 1, 1, 1, 1, 1, 1
b += 3
c -= 6
d *= 7
e /= 8
f %= 5
g **=4
print(a, b, c, d, e, f, g)

5 4 -5 7 0.125 1 1

Q11- To show the use of all the comparison/Relational operators.

In [ ]:
a, b = 6, 11
print(a >= 5)
print(a > 5)
print(a <= b)
print(a < 5)
print(a == 5)

True
True
True
False
False

Q12- To show the use of all the logical operators.

In [ ]:
a = True
b = False
print(a and b)
print(a or b)
print(not b)

False
True
True

Q13- To show the use of all the identity operators.

In [ ]:
a, b = 5, 5.0
print(a is b)
print(a is not b)

False
True

Q14- To show the use of all the membership operators.

In [ ]:
a = [5, 6]
print(5 in a)
print(10 not in a)

True
True

Q15- To show the use of all the bitwise operators.

In [ ]:
a, b = 5, 16
print(a & b)
print(a | b)
print(a ^ b)
print(~a)
print(a << 2)
print(a >> 2)

0
21
21
-6
20
1

Q16- To show all the operation and methods related with immutable data type.

ANS) An Immutable Data Types can’t be changed after it is created. like int, float, bool, string, unicode, tuple

In [ ]:
# tuples are immutable
tuple1 = (8, 14, 29, 5,15)
tuple1[0] = 17
print(tuple1)

TypeError: ignored

In [ ]:
# strings are immutable
message = "Welcome to GeeksforGeeks"
message[0] = 'p'
print(message)

TypeError: ignored

Q17- To show all the operation and methods related with mutable data type.

ANS) Mutable Data Types are of type list, dict, set . Custom classes are generally mutable.

In [ ]:
# lists are mutable
color = ["red", "blue", "green"]
print(color)
color[0] = "golden"
color[-1] = "silver"
print(color)

['red', 'blue', 'green']
['golden', 'blue', 'silver']

In [ ]:
# DIct are mutable
d = {
'a': 'alpha',
'b': 'bravo',
'c': 'charlie',
'd': 'delta',
'e': 'echo'
}
print(id(d))
d.update({
    'f': 'foxtrot'
})
print(id(d))

140710592687920
140710592687920